- if ENV['EN_CONSUMER_KEY'].blank? || ENV['EN_CONSUMER_SECRET'].blank?
  %h2 You have to set your Evernote Consumer Key and Consumer Secret in you environmental variables first.

- elsif authtoken
  = link_to (session[:dry_run] ? "Allow actual API call" : "Prohibit actual API call"), switch_mode_path
  |
  = link_to 'Logout', logout_path
  %hr
  = render 'api_list'
- else
  = link_to 'Login via Evernote', '/auth/evernote'
